<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/jquery-ui.js"></script>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery-ui.min.js"></script>
<link href="~/Scripts/jquery-ui.min.css" rel="stylesheet" />
<script src="~/Scripts/Item.js"></script>
<script>
    $(document).ready(function () {
        var id = 0
        var memberList = [];
        var bajarList = [];
        getCategory();

        getMemberList();
        //getItemByCategoryId();
        $('#btnsubmit').click(function () {
            var ItemList = [];
            for (var i = 0; i < id; i++) {
                $('#tableList' + i + ' tr:not(:first-child)').each(function (index, row) {
                    var itemName = $(row).attr('id');
                    var Quantity, Price;
                    $('input', row).each(function (index, collum) {
                        if ($(collum).attr('id').split('-')[0] == 'quantity') Quantity = $(collum).eq(0).val();
                        if ($(collum).attr('id').split('-')[0] == 'price') Price = $(collum).eq(0).val();
                    })
                    var item = {
                        ItemId: itemName,
                        Quantity: Quantity,
                        Price: Price,
                        Date: $('#Date').val(),
                        PurchaserId: $('#MemberId').val()
                    }
                    if (item.Quantity != "" || item.Price != "") {
                        ItemList.push(item);
                    }

                    //$('table tr:not(:first-child, :last-child) td:not(:first-child, :last-child)')
                });
            }
            if ($('#MemberId').val() != undefined) {
                if (ItemList.length) {
                    saveItemList(ItemList);
                }
                else {
                    alert('Please enter at least one item');
                }
            }
            else
                alert('Please Enter an Member')


        })
        function getCategory() {
            $.ajax({
                url: '@Url.Action("BajarListView")',
                method: 'GET',
                contentType: 'application/json',
                success: function (data) {
                    $(data.CategoryList).each(function (index, item) {
                        $('#MainDiv').append('<ul><li id="list' + id + '">' + item.CategoryName + '<li></ul></br>')

                        $('#list' + id).append('<table class="table-hover" id="tableList' + id + '"></table>')
                        $('#tableList' + id).append('<tr><th>Serial No</th><th>Item Name</th><th>Quantity</th><th>Unit</th><th>Price</th></tr>')
                        $(item.ItemList).each(function (index, item) {
                            $('#tableList' + id).append('<tr id="' + item.Id + '"><td>' + item.SerialNo + '</td><td>' + item.Name + '</td><td><input type="text" size="2" id="quantity-' + item.Id + '"/></td><td>' + item.UnitName + '</td><td><input type="text" id="price-' + item.Id + '"/></td></tr>')
                        })
                        id++;

                    })

                },
                error: function (error) {
                    alert(error.error);
                }
            })
        }

        function saveItemList(ItemList) {
            $.ajax({
                url: '@Url.Action("saveBajarList")',
                method: 'post',
                contentType: 'application/json',
                data: JSON.stringify(ItemList),
                success: function (data) {
                    alert('Successfully Added');
                },
                error: function (error) {
                    alert(error.error);
                }
            })
        }
        function getMemberList() {
            var url = '@Url.Action("getMember","Member")';
            getMemberListjs(url);
        }
        $("#Date").datepicker({
            appendText: 'mm/dd/yyyy',
            changeMonth: true,
            changeYear: true,
            buttonText: 'Date',
            dateFormat: 'mm/dd/yy',
            onSelect: function () {
                if ($("#MemberId").val() != "0") {
                    var url = '@Url.Action("getBajarListByMemberId")';
                    getBajarListByDateAndMember($('#MemberId').val(), this.value,url);
                }
                else {
                    alert("Plsease select a member");
                }
            }
        });



    })
</script>
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="form-group">
            <label class="control-label col-md-2">Date</label>
            <div class="col-md-10">
                <input type="text" id="Date" name="Date" class="form-control" />
            </div>
        </div>
        <br />
        <div class="form-group">
            <label class="control-label col-md-2">Member Name</label>
            <div class="col-md-10">
                <select id="MemberId" class="form-control">
                    <option value="0">SELECT</option>
                </select>
            </div>
        </div>

    </div>


</div>
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div id="MainDiv">
            <table id="itemList" border="1"></table>
        </div>
        <input type="button" value="submit" id="btnsubmit" />
    </div>

</div>


